
 /* font start*/
 @font-face {
    font-family:Lato-Medium ;
    src: url(../fonts/Lato-Medium.ttf);
}
 @font-face {
    font-family:Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}
 @font-face {
    font-family:Lato-Semibold ;
    src: url(../fonts/Lato-Semibold.ttf);
}
@font-face {
    font-family:Roboto-Medium ;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family:Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family:Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family:Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
/* font end */


/* common code */
body{
    font-family:  Roboto-Regular;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
/* common code */


/* header start */
header{
    padding: 7px 0;
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 26, .2);
    
}
.logo{
    font-size: 30px;
    color: #333333 !important;
    font-family:Lato-Medium;
    font-weight: 400;
    position: relative;

}
.logo::after{
    content: "";
    position: absolute;
    left: 0;
    top: -18px;
    right: 0;
    margin: auto;
    width: 1px;
    height: 23px;
    background: #333333;
}
.menu ul li a{
    font-size: 16px;
    text-transform: uppercase;
    color: #8e8e8e !important;
    margin-right: 25px;
    
}
.menu ul li a:hover{
    color: #333333 !important;
}

.btn_search{
    color: #8e8e8e !important;
    padding: 0 !important;
}
.btn_search:hover{
    color: #333333 !important;
    
}
.btn_search:focus{
    box-shadow: none;
}

.dd_menu {
    min-width: 350px;
    padding:0;
   
}
.dd_menu[data-bs-popper] {
    top: 52px;
    left: -300px;
}
.form_search{
    border: none;
    padding:8px 10px;
}
.form_search:focus{
    box-shadow: none;
}
.b_s_icon{
    border: none;
    background: #8e8e8e;
    color: white;
    padding: 8px 15px;
}
.b_s_icon:focus{
    box-shadow: none;
}
/* header end */



/* slider start*/
.slider{
    background-image: url(../img/slider.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.s_wrapper{
    padding:180px 0;
    color:#ffffff ;
}
.s_wrapper h1{
   font-family:Lato-Bold ;
    font-size: 50px; 
}
.s_wrapper p{
    margin-top: 40px;
    margin-bottom: 50px;
    line-height: 26px;
}
.btn_submit{
    padding: 13px 30px;
    background: #fff;
    color: #333333;
    font-family: 'Lato-Bold';
}
.btn_icon{
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}
.btn_submit:hover .btn_icon{
    visibility: visible;
    opacity: 1;
    padding-left:15px;
}
.btn_submit:focus{
    box-shadow:none;
}
.cc_p, .cc_n{
    height: 40px;
    width:40px;
    top: auto;
    bottom: 0;
    align-items: flex-end;
    color: #333333 !important;
}

.cc_p span, .cc_n span{
    background-image: none;
}
.cc_n{
    left: 70px;
    
}

/* slider end */




/* service start */
.services{
    padding-bottom:25px;
}
/* common title start*/

.c_arrow{
    width: 1px;
    height: 35px;
    background: #333333;
    margin: 5px auto;
}
.c_h1{
    margin: 5px;
    margin-bottom: 30px;
    color: #333333;
    text-transform: uppercase;
    font-family:Lato-Regular;
    font-size:25px;
}
/* common title end */

.p_title p{
    line-height: 26px;
    margin-bottom:50px;
}

/* row3 */
.single_service{
    margin-top:50px;
    padding: 70px 20px 30px;
    border: 1px solid #8e8e8e;
}
.s_icon1{
    margin: 0 auto;
    margin-top: -95px;
    background: white;
    width: 70px;
}
.s_icon1 i{
    font-size: 60px;
}
.s_line2{
    width: 40px;
    height: 1px;
    background: #8e8e8e;
    margin: 20px auto;
}
.single_service:hover .s_icon1 i{
    color: #333333;
}
.single_service:hover .s_btn{
    color: #333333;
}
.single_service:hover{
    border-color: #333333;
}
.single_service h2{
    margin-top: 30px;
    text-transform: uppercase;
    color: #333333;
    font-size: 18px;
    font-family: 'Lato-Bold';
}
.single_service p{
    margin-bottom: 30px;
}
.s_btn{
    font-family:Roboto-Bold;
    color: #8e8e8e;
    text-transform: uppercase;
    text-decoration: none;
}

/* service end */



/* about us start */
.about_us{
    padding: 80px 0;
}
.about_img img{
    width: 100%;
}
.c_h1{
    margin:0; 
    margin-bottom: 20px;
}
.sb1{
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 0;
}
.p_about1{
    line-height: 26px;
}
.p_about2{
    margin: 30px 0;
    line-height: 26px;
}

/* about us end */

/* work start */
.work{
    padding-bottom: 80px;
    background: #f8f8f8;
}
.my_nav li{
    margin: 0 5px;
}
.nav_button{
    color: #8e8e8e !important;
	background: #f8f8f8 !important;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.my_nav .nav_button.active, .my_nav .show > .nav_link {
	border: 1px solid #333333;
    border-radius: 0;
}


.wrapper_img{
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}
.image{
    width: 100%;
    display: block;
    height: auto;
}
.overlay{
    position: absolute;
    bottom:0;
    width: 100%;
    height:100%;
    transition: 0.3s;
    box-sizing: border-box;
    overflow: hidden;
    
    
}
.wrapper_img:hover .overlay{
    background-color: rgba(0, 0,0, 0.5);
 }   
 
.w_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}
.wrapper_img:hover .w_icon{
    visibility: visible;
    opacity: 1;
}
.w_icon i{
    margin-top: -40px;
    font-size: 60px;
    color: #ffffff;
    z-index: 9999;
}
.w_text{
    padding: 15px 30px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom:-55px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}
.wrapper_img:hover .w_text{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}
.w_text h2{
    font-family:Lato-Bold ;
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
}


/* work end */


/* why choose us start */
.why_choose_us{
    padding-bottom: 80px;
}
.choose_item{
    padding: 25px 0;
    margin-top: 30px;
    border-bottom: 1px solid #8e8e8e
}
.choose_item:hover{
    border-color: #333333;
}
.c_icon i{
    font-size: 60px;
    margin-top: -15px;
 }
 .choose_item:hover .c_icon i{
    color: #333333;
}
.c_h2 h2{
    font-family: Lato-Bold;
    font-size: 18px;
    text-transform: uppercase;
}
.choose_item:hover .c_h2 h2{
    color: #333333;
}
.c_text{
    margin-top: 20px;
}
/* why choose us end */



/* our team start */
.our_team{
    background-image: url(../img/bg_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.team_member{
    margin-top: 40px;
}
.t_img{
    position: relative;
}
.t_img img{
    width: 100%;
}
.member_bio{
    padding:10px 15px;
    background: #ffffff;
}
.member_bio h2{
    font-family:Lato-Bold ;
    font-size: 16px;
    color: #333333;
    text-transform: uppercase;
}
.member_bio p{
   margin-bottom: 0;
}
.team_social ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 160px;
    top: -220px;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.team_member:hover ul{
    visibility: visible;
    opacity: 1;
    top: -30px;
}
.team_social ul li{
    margin-top: 10px !important;
}
.team_social ul li a{
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    color: #8e8e8e !important;
    border-right: 1px solid transparent;
}
.team_social ul li a:hover{
    border-right:1px solid #333333;
    color: #333333 !important;
}
/* our team end */



/* price start */
.price{
    padding-bottom:80px;
}
.price_box{
    margin-top: 50px;
    padding: 40px 25px;
    border: 1px solid #8e8e8e;
}

.price_box:hover{
    border-color: #333333;
}

.price_box h3{
    margin: 20px 0;
    color: #333333;
    font-size: 30px;
}

.price_box h3 span{
    color: #8e8e8e;
    font-size: 18px;
}

.p_head{
    margin-top: -52px;
}

.p_head h2{
    display: inline-block;
    background: #ffffff;
    font-family:Lato-Bold;
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
}
.about_btn{
    padding: 12px 30px;
    font-family: Roboto-Bold;
    color: #333333;
    margin-top: 30px;
    background: transparent;
    border: 1px solid #333333;
    border-radius:0;
    text-transform: uppercase;
}
.about_btn:focus{
    box-shadow: none;
}
.about_btn:hover{
    color: #8e8e8e;
}
.p_list ul li{
    margin: 12px 0;
}
/* price end */


/* alert start */
.alert{
    padding: 30px 0;
    background-color: #f8f8f8;
}
.a_text h1{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;
    color: #333333;
}


/* alert end */




/* testimonial start */
.testimonial{
    padding-top: 80px;
}
.testimonial-wrapper{
    border: 1px solid #ddd;
    padding: 40px 30px;
}
.test-img{
    position: relative;
}
.test-img img{
    width: 100%;
    position: relative;
}
.test-img::after{
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: absolute;
    left:25px;
    top: 15px;
    font-size: 50px;
    color: #333333;

}
.client-review h1{
    margin-bottom:10px;
    font-size: 18px;
    color: #333333;

}
.subtitle{
    color: #8e8e8e;
}
.client-review h4{
    margin-top: 10px;
    font-size: 18px;
    color: #333333;
}
.tp1{
    margin: 30px 0;
}
.tp2{
    margin-bottom: 0;
}

.testimonial-btn-wrapper{
    border: 1px solid #ddd;
    background: #f8f8f8;

}
.testimonial-prev,.testimonial-next {
	background: transparent;
	border: none;
	margin: 40px 0;
	transform: rotate(90deg);
}
.prev-icon, .next-icon{
    color: #8e8e8e;
}
.prev-icon:hover,.next-icon:hover{
    color: #333333;
}
/* testimonial end */



/* about us start */

.contact{
    padding: 80px 0;
}

.contact_wrapper{
    margin: 20px 0;
    border: 1px solid #8e8e8e;
}
.contact_wrapper h1{
    position: relative;
    top: -18px;
    padding: 0 10px;
    font-size: 30px;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-transform: uppercase;
}
.c-form{
    padding: 20px 50px;
}
.c_fl_name{
    margin-top: 40px;
    border: none !important;
    border-bottom: 1px solid #8e8e8e !important;
    border-radius: 0;
}
.c_fl_name:focus{
    box-shadow: none;
    border-bottom: 1px solid #333333 !important;
}
/* about us end */



/* contact social start */
.c-social{
    background-image: url(../img/bg_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cs-social{
    margin-top: 20px;
    margin-bottom: 100px;
}
.cs-social ul li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid #ffffff;
    transition: .4s;
    
}
.cs-social ul li a:hover{
    background: #ffffff;
    color: #333333;
}
/* footer start */
.footer{
    border-top: 1px solid #ffffff;
    padding: 30px 0;
}
.footer-link ul li a{
    color: #ffffff !important;
    text-decoration: none;
    font-size: 16px;
}
/* footer end */
/* contact social end */






